.search-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.search-box {
    display: flex;
    align-items: center;
    min-width: 540px;
    min-height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.2s;
}

.search-box:focus-within {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    scale: 1.005;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.prefix-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50px;
    cursor: pointer;
}

.prefix-icon img {
    display: inline-block;
    width: 24px;
}

.suffix-icon {
    float: right;
    width: 50px;
    cursor: pointer;
}

.search-box input[type="text"] {
    border: none;
    min-width: 480px;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: inherit;
}

.search-box input[type="text"]:focus {
    outline: none;
}

.tippy-box[data-theme~='blur'] {
    margin-top: 12px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.engine-select-wrapper {
    display: flex;
    align-items: center;
    min-width: 60px;
    min-height: 30px;
}

.engine-icon {
    display: inline-block;
    width: 20px;
    margin: 0 6px;
    cursor: pointer;
}
